*{
padding:0px;
margin:0px;
}
.set_srmlogo
{

margin-right:20px;
margin-top:10px;
margin-left:20px;
-webkit-transform:translate(0,10px);
margin-bottom:0px;
}

.set_iichelogo
{

margin-right:20px;
margin-top:10px;
margin-left:20px;
-webkit-transform:translate(0,10px);
margin-bottom:0px;
}
.set_chemfluxlogo
{
margin-top:0px;
display:block;
-webkit-transform:translate(-80px,-10px);
margin-bottom:0px;
}
/* #set_navbar
{
background-color:#00FFFF;

border:1px solid transparent;
-webkit-box-shadow:rgb(110,110,110) 2px 2px 2px;

}
#set_navbar li
{
display:inline-block;
list-style:none;
padding-top:10px;
padding-bottom:5px;
padding-left:25px;
font-family:Bauhaus 93;
color:black;
font-size:25px;
text-decoration:none;
}
#set_navbar li a{

color:black;
font-style:none;

}
#set_home
{
display:block

}
#set_events
{
height:0px;
display:block;
-webkit-transition: -webkit-transform 2s;
border:1px solid transparent;
}
#set_events:hover
{
-webkit-transform:rotate(45deg);
color:#FF0000;


}

#set_news_flash
{

display:block
}

#set_chemzone
{
display:block

}

#set_sponsership
{
display:block
}
#set_aboutus
{

display:block

}
*/
#set_cartext
{
font-size:30px;
color:black;

}
body
{

background:-webkit-linear-gradient(top,#4682B4,#FFFFFF);
}

.stylefooter
{
padding:20px;
margin-top:5px;
margin-left:5px;
margin-right:5px;
background-color:white;
/*background:-webkit-linear-gradient(top,#FFE4C4,#FFE4B5);*/
}

#footer_ul li{
display:inline-block;
padding:3px;
list-style:none;
font-size:16px;
}
#footer_ul li a 
{
color:black;


}
#copyright
{
text-align:center;
}
.set_post
{
text-align:center;

}
.set_intro
{

font-size:19px;
font-family:Bradley Hand ITC;
color:black;
}

#adjustnavbar
{
margin-bottom:0px;

}

#adjustlogo
{
margin-bottom:0px;

}