
#adjustrc
{
margin-top:30px;

}
.intro
{
font-size:20px;
font-family:Comic Sans MS;

color:white;}
#footer
{
background-color:black;
margin-top:100px;
width:100%;
padding:30px;

}
#shift
{
float:right;

}
#colorit
{
height:100%;
/*background:-webkit-linear-gradient(top,white,#ddd);*/
}
#adjustnavbar
{

margin:0px;

}
.stylefooter
{
padding:20px;
margin-top:5px;
margin-left:5px;
margin-right:5px;
background-color:#ADD8E6;
}

#footer_ul li{
display:inline-block;
padding:3px;
list-style:none;
font-size:16px;
}
#footer_ul li a 
{
color:black;


}
#copyright
{
text-align:center;
}

#colorit{

    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/1d/28/65/1d28657d5da30cb7168a4941f10f9163.jpg");


/*background:-webkit-linear-gradient(left,#778899,white); 	background-size: 880px 600px;*/
}

/* -------------------------------------------------HOME PAGE END---------------------------------------------------------------- */

#set
{
text-align:center;
padding:30px;
}

.set_decription
{
text-align:center;
}

